[*.cs]

# Отключаем StyleCop полностью
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA*.severity = none

# отключить this
dotnet_diagnostic.SA1101.severity = none

# отключить XML-комменты
dotnet_diagnostic.SA1600.severity = none

# убрать проверку на spacing
dotnet_diagnostic.SA1000.severity = none
dotnet_diagnostic.SA1001.severity = none
dotnet_diagnostic.SA1003.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1011.severity = none
dotnet_diagnostic.SA1012.severity = none
dotnet_diagnostic.SA1013.severity = none
dotnet_diagnostic.SA1014.severity = none
dotnet_diagnostic.SA1015.severity = none
dotnet_diagnostic.SA1016.severity = none
dotnet_diagnostic.SA1017.severity = none
dotnet_diagnostic.SA1018.severity = none